header {
    color: rgb(192 142 156);
    display: flex;
    background-color: rgb(8, 8, 8);
}

.imghome {
    width: 30%;
}

.hello {
    z-index: 3;
    position: absolute;
    margin-left: 10%;
    margin-top: 3.3%;
}

.details {
    display: flex;
    z-index: 3;
    position: absolute;
    margin-left: 13%;
    margin-top: 2.3%;
}

.domain {
    margin-top: 25%;
    margin-left: 30%;
}

.countOfCV {
    margin-top: 3.3%;
}

a:active {
    color: rgb(192 142 156);
}

a:hover {
    color: rgb(192 142 156);
}

a:visited {
    color: rgb(192 142 156);
}

a:link {
    color: rgb(192 142 156);
}

.listOfJobs {
    margin-top: 3.4%;
    margin-left: 5%;
}

.between {
    background-color: rgb(248, 224, 231);
    padding: 10%;
    font-size: 2000%;
    text-align: center;
    font-family: fantasy
}

.body {
    background-color: rgb(248, 224, 231);
    padding: 10%;
    text-align: center;
    font-family: fantasy
}