.jobs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.job{
    border: solid rgb(1, 0, 0);
    border-width: 1%;
    background-color: black;
    color: rgb(192 142 156);
    text-align: center;
    padding: 2%;
    font-size: 130%;
    margin-bottom: 2%;
}

body{
    padding: 3%;
    background-color: rgb(248, 224, 231);
}

.toHome{
    background-color: black;
    color: rgb(192 142 156);
    padding: 1%;
    font-size: large;
    margin-left: 1%;
    // border-radius: 20%;
}